<div class="row">
    <div class="col-lg-5 col-md-4 col-sm-2"></div>
    <div class="col-lg-2 col-md-4 col-sm-8">
        <form ng-submit="login()" class="form-group-sm">
            <div class="row">
                <label>Nutzername</label>
                <input type="text" class="form-control" ng-model="user.username">
            </div>
            <div class="row">
                <label>Passwort</label>
                <input type="password" class="form-control" ng-model="user.password">
            </div>
            <div class="row">
                <button class="btn btn-default">Anmelden</button>
            </div>
        </form>
        <div class="col-lg-5 col-md-4 col-sm-2"></div>
    </div>
</div>
